:root {
  --color-background: 210 40% 98%;
  --color-surface: 0 0% 100%;
  --color-surface-bright: 0 0% 100%;
  --color-surface-dim: 210 40% 96%;
  --color-surface-container-lowest: 0 0% 100%;
  --color-surface-container-low: 210 40% 98%;
  --color-surface-container: 210 40% 96%;
  --color-surface-container-high: 214 32% 91%;
  --color-surface-container-highest: 213 27% 84%;
  --color-surface-variant: 214 32% 91%;
  --color-surface-tint: 264 52% 49%;
  --color-inverse-surface: 222 47% 11%;
  --color-inverse-on-surface: 210 40% 98%;
  --color-on-background: 222 47% 11%;
  --color-on-surface: 222 47% 11%;
  --color-on-surface-variant: 215 19% 35%;
  --color-outline: 215 20% 65%;
  --color-outline-variant: 214 32% 91%;
  --color-primary: 264 52% 49%;
  --color-on-primary: 0 0% 100%;
  --color-primary-container: 269 100% 95%;
  --color-on-primary-container: 264 67% 35%;
  --color-primary-fixed: 269 100% 92%;
  --color-primary-fixed-dim: 269 97% 85%;
  --color-on-primary-fixed: 274 87% 21%;
  --color-inverse-primary: 270 95% 75%;
  --color-secondary: 181 24% 42%;
  --color-on-secondary: 0 0% 100%;
  --color-secondary-container: 180 27% 91%;
  --color-on-secondary-container: 180 21% 8%;
  --color-secondary-fixed: 182 29% 83%;
  --color-secondary-fixed-dim: 183 29% 75%;
  --color-on-secondary-fixed: 180 21% 8%;
  --color-on-secondary-fixed-variant: 180 23% 19%;
  --color-tertiary: 320 46% 40%;
  --color-on-tertiary: 0 0% 100%;
  --color-tertiary-container: 327 85% 95%;
  --color-on-tertiary-container: 321 47% 29%;
  --color-tertiary-fixed: 326 85% 90%;
  --color-tertiary-fixed-dim: 329 86% 70%;
  --color-on-tertiary-fixed: 336 84% 17%;
  --color-on-tertiary-fixed-variant: 336 69% 30%;
  --color-error: 346 96% 21%;
  --color-on-error: 0 0% 100%;
  --color-error-container: 343 84% 95%;
  --color-on-error-container: 346 97% 15%;
}

